header {
    margin-bottom: 50px;
}

main {
    padding-left: 50px;
}

.product-link {
    color: var(--brown);
    text-decoration: underline;
}

.store-link {
    background-color: var(--gray);
    color: var(--dark-blue);
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

footer {
    margin-top: 50px;
}